.builder-sequences {
    -fx-min-width: 160;
    -fx-pref-height: 504;
    -fx-alignment: top-center;
    -fx-background-color: #9C99FF;
}

.builder-sequences-top {
    -fx-pref-width: 128;
    -fx-min-height: 28;
    -fx-alignment: center;
}

.builder-sequences-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 14;
    -fx-text-alignment: center;
    -fx-text-fill: #040316;
    -fx-padding: 0 4;
}

.builder-sequences-buttons {
    -fx-pref-width: 34;
    -fx-alignment: center-right;
    -fx-spacing: 6;
    -fx-padding: 4 4 0 0;
}

.builder-sequences-add-sequence-button, .builder-sequences-folder-button {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.builder-sequences-folder-button {
    -fx-background-size: 16;
    -fx-min-height: 16;
    -fx-max-height: 16;
    -fx-background-image: url("../images/builderView/folderIcon.png");
    -fx-cursor: hand;
}

.builder-sequences-folder-button:hover {
    -fx-background-image: url("../images/builderView/folderIconSelected.png");
}

.builder-sequences-add-sequence-button {
    -fx-background-size: 14;
    -fx-min-height: 14;
    -fx-max-height: 14;
    -fx-background-image: url("../images/builderView/addIcon.png");
    -fx-cursor: hand;
}

.builder-sequences-add-sequence-button:hover {
    -fx-background-image: url("../images/builderView/addIconSelected.png");
}

.builder-separator, .builder-separator .line {
    -fx-pref-width: 128;
    -fx-pref-height: 1;
    -fx-background-color: #CECCFF;
    -fx-border-color: null;
}

.builder-sequences-scrollpane {
    -fx-pref-width: 128;
    -fx-alignment: center;
    -fx-spacing: 4;
    -fx-padding: 6 0;
    -fx-background-color: #9C99FF;
}

.builder-sequences-scrollpane .scroll-bar:vertical {
    -fx-pref-width: 4;
    -fx-padding: -4 0;
    -fx-background-color: transparent;
}

.builder-sequences-scrollpane .scroll-bar:vertical .track {
    -fx-background-radius: 2;
    -fx-background-color: #847EE7;
}

.builder-sequences-scrollpane .scroll-bar:vertical .thumb {
    -fx-background-radius: 2;
    -fx-background-insets: 0;
    -fx-background-color: #2F27CE;
    -fx-pref-width: 4;
}

.builder-sequences-scrollpane .scroll-bar:vertical .increment-button,
.builder-sequences-scrollpane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-opacity: 0;
}

.builder-actions-sequences {
    -fx-pref-width: 128;
    -fx-spacing: 4;
    -fx-alignment: top-center;
    -fx-background-color: #9C99FF;
}


.builder-sequences-hbox, .builder-sequences-hbox-selected {
    -fx-spacing: 4;
    -fx-alignment: center;
    -fx-padding: 4;
    -fx-background-color: #E6E5FF;
    -fx-cursor: hand;
}

.builder-sequences-hbox:hover {
    -fx-background-color: #DDDBFF;
}

.builder-sequences-hbox:pressed {
    -fx-background-color: #ADA9EF;
}

.builder-sequences-hbox-selected {
    -fx-background-color: #CFCCFF;
}

.builder-sequences-title {
    -fx-max-width: 100;
    -fx-font-family: SansSerif;
    -fx-font-size: 14;
    -fx-text-fill: #040316;
}

.builder-sequence-entry-action-count {
    -fx-alignment: center;
    -fx-font-family: SansSerif;
    -fx-font-size: 14;
    -fx-text-fill: #443DFF;
    -fx-background-color: rgba(68, 61, 255, 0.1);
    -fx-background-radius: 8;
    -fx-padding: 2 6;
}

.builder-sequences-delete-button, .builder-sequence-actions-settings-delete {
    -fx-min-height: 14;
    -fx-max-height: 14;
    -fx-background-color: transparent;
    -fx-background-image: url("../images/builderView/deleteIcon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 14;
    -fx-cursor: hand;
}

.builder-sequences-delete-button:hover, .builder-sequence-actions-settings-delete:hover {
    -fx-background-image: url("../images/builderView/deleteIconSelected.png");
}

.builder-sequences-delete-button:pressed, .builder-sequence-actions-settings-delete:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

/* Builder Editor View */
.builder-content {
    -fx-pref-width: 504;
    -fx-pref-height: 320;
    -fx-padding: 12;
}

.sequence-builder {
    -fx-pref-width: 300;
    -fx-pref-height: 320;
    -fx-alignment: center;
    -fx-padding: 8 12;
    -fx-background-radius: 8;
    -fx-background-color: #E6E5FF;
}

.sequence-naming-container {
    -fx-pref-width: 276;
    -fx-pref-height: 30;
}

.sequence-naming {
    -fx-alignment: center-left;
    -fx-spacing: 4;
}

.sequence-name-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 14;
    -fx-text-fill: #040316;
    -fx-graphic: url("../images/builderEditorView/sequenceIcon.png");
}

.sequence-description-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 14;
    -fx-text-fill: #A9A5F3;
}

.sequence-builder-buttons {
    -fx-pref-width: 76;
    -fx-max-height: 20;
    -fx-spacing: 8;
    -fx-alignment: top-right;
}

.builder-randomize-button, .builder-save-sequence-button {
    -fx-min-width: 20;
    -fx-min-height: 20;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20;
    -fx-cursor: hand;
}

.builder-randomize-button {
    -fx-background-image: url("../images/builderEditorView/randomizeIcon.png");
}

.builder-randomize-button:hover {
    -fx-background-image: url("../images/builderEditorView/randomizeIconSelected.png");
}

.builder-save-sequence-button {
    -fx-background-image: url("../images/builderEditorView/saveIcon.png");
}

.builder-save-sequence-button:hover {
    -fx-background-image: url("../images/builderEditorView/saveIconSelected.png");
}

.builder-buttons-separator, .builder-buttons-separator .line {
    -fx-pref-width: 1;
    -fx-pref-height: 16;
    -fx-background-color: #6B66FF;
    -fx-border-color: null;
}

.builder-selected-actions-scrollpane {
    -fx-pref-width: 312;
    -fx-pref-height: 272;
    -fx-background-color: #E6E5FF;
}

.builder-selected-actions-scrollpane .scroll-bar:vertical {
    -fx-pref-width: 4;
    -fx-padding: -4 0;
    -fx-background-color: transparent;
}

.builder-selected-actions-scrollpane .scroll-bar:vertical .track {
    -fx-background-color: #847EE7;
    -fx-background-radius: 2;
}

.builder-selected-actions-scrollpane .scroll-bar:vertical .thumb {
    -fx-background-color: #2F27CE;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-pref-width: 4;
}

.builder-selected-actions-scrollpane .scroll-bar:vertical .increment-button,
.builder-selected-actions-scrollpane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-opacity: 0;
}

.builder-selected-actions-vbox {
    -fx-pref-width: 276;
    -fx-pref-height: 244;
    -fx-spacing: 6;
    -fx-padding: 6 0;
    -fx-background-color: #E6E5FF;
}

.builder-actions-scrollpane:focused, .builder-sequences-scrollpane:focused, .builder-selected-actions-scrollpane:focused {
    -fx-background-insets: 0, 1;
    -fx-focus-traversable: false;
    -fx-focus-color: transparent;
}


.builder-sequence-actions-settings {
    -fx-pref-width: 192;
    -fx-alignment: center-right;
    -fx-padding: 0 4;
    -fx-spacing: 12;
}

.builder-sequence-action-interval {
    -fx-font-family: SansSerif;
    -fx-font-size: 14;
    -fx-text-fill: #534BE7;
    -fx-alignment: center;
}

/* Builder Settings View */
.builder-settings-holder {
    -fx-pref-width: 192;
    -fx-pref-height: 320;
    -fx-alignment: center;
    -fx-spacing: 12;
}

.builder-sequence-settings {
    -fx-pref-width: 192;
    -fx-pref-height: 180;
    -fx-padding: 6 8 8 8;
    -fx-background-radius: 8;
    -fx-background-color: #E6E5FF;
}

.builder-sequence-settings-container, .builder-settings-sequence-title-vbox, .action-time-frame-vbox {
    -fx-pref-width: 176;
    -fx-spacing: 6;
    -fx-alignment: center-left;
}

.sequence-in-focus-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 14;
    -fx-text-alignment: left;
    -fx-text-fill: #040316;
}

.builder-settings-separator, .builder-settings-separator .line {
    -fx-pref-width: 176;
    -fx-pref-height: 1;
    -fx-background-color: #9C99FF;
    -fx-border-color: null;
}

.builder-settings-sequence-title, .builder-settings-sequence-description {
    -fx-font-family: SansSerif;
    -fx-font-size: 14;
    -fx-text-fill: #040316;
}

.builder-settings-title-textfield {
    -fx-pref-width: 176;
    -fx-min-height: 16;
    -fx-padding: 0 3;
    -fx-background-radius: 4;
    -fx-background-color: #D6D4F7;
    -fx-font-family: SansSerif;
    -fx-font-size: 14;
    -fx-text-fill: #534BE7;
}

.builder-sequence-settings-separator, .builder-sequence-settings-separator .line {
    -fx-pref-width: 176;
    -fx-pref-height: 1;
    -fx-background-color: #CECCFF;
    -fx-border-color: null;
}

.builder-settings-description-textfield {
    -fx-pref-width: 176;
    -fx-min-height: 64;
    -fx-background-radius: 4;
    -fx-background-color: #D6D4F7;
    -fx-font-family: SansSerif;
    -fx-font-size: 14;
    -fx-text-fill: #534BE7;
}

.builder-settings-description-textfield .content {
    -fx-background-radius: 0;
    -fx-padding: 1 3;
    -fx-background-color: #D6D4F7;
}

.builder-settings-description-textfield .scroll-bar:vertical {
    -fx-pref-width: 6;
    -fx-padding: -12 0;
    -fx-background-color: transparent;
}

.builder-settings-description-textfield .scroll-bar:vertical .increment-button,
.builder-settings-description-textfield .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-opacity: 0;
}

.builder-action-settings {
    -fx-pref-width: 192;
    -fx-pref-height: 124;
    -fx-padding: 6 8;
    -fx-background-radius: 8;
    -fx-background-color: #E6E5FF;
}

.builder-action-settings-container {
    -fx-pref-width: 176;
    -fx-spacing: 6;
}

.action-in-focus-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 14;
    -fx-text-fill: #040316;
}

.builder-actions-settings-duration {
    -fx-font-family: SansSerif;
    -fx-font-size: 14;
    -fx-text-fill: #040316;
}

.builder-action-settings-duration-vbox {
    -fx-spacing: 6;
}

.settings-reset-button {
    -fx-pref-width: 16;
    -fx-min-height: 16;
    -fx-max-height: 16;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 16;
    -fx-background-image: url("../images/actionSettings/resetIcon.png");
    -fx-cursor: hand;
}

.settings-reset-button:hover {
    -fx-background-image: url("../images/actionSettings/resetIconSelected.png");
}

.settings-reset-button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}